<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Navigation-->
<nav class="navbar navbar-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>Josue V</strong></a>
        <nav class="navigation static-top">
            <ul>
                <li><a href="/">Inicio</a></li>
            </ul>
        </nav>
    </div>
</nav>
<hr>

{% block content %}


{% endblock %}

<!-- Footer-->
<hr>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <p class="">&copy; ESPE - ITIN 2022. Reservados todos los derechos.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="/"><i class="redes-black bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="/"><i class="redes-black bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/"><i class="redes-black bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>